html{
    font-family: verdana;
}

.navbar {
	display: flex;
    width: 100%;
    background-color: red;
    overflow: auto;
}

.topnav {
	display: flex;
	overflow: hidden;
    width: 100%;
    background-color: red;
	height: 50px;
}

ul {
    display: inherit;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

logo {
	padding-left: 50px;
}

.box {
    float: left;
    width: 20%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.search input[type=text] {
  display: flex;
  border: none;
  font-size: 14px;
  height: 3px;
  border-radius: 20px;
  box-shadow:    inset 0 0 5px #000000;
  box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
}

  .search a, .search input[type=text] {
    display: flex;
    text-align: left;
    margin: 0;
    padding: 14px;
    margin-top: 9px;
    margin-right: 3px;
  }
	
  .search input[type=text] {
    border: 1px solid black;
  }

li {
    text-align: center;
 
}

li a, .dropbtn {
    display: inherit;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dr1opbtn {
    background-color: red;
}

.news-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.news-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
}

.news-content a:hover {
    background-color: red;
    color: white;
}

.news:hover .news-content {
    display: block;
	width: 20%;
}

li.news {
    display: inherit;
}

.reviews-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.reviews-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
}

.reviews-content a:hover {
    background-color: red;
    color: white;
}

.reviews:hover .reviews-content {
    display: block;
	width: 20%;
}

li.reviews {
    display: inherit;
}

.videos-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.videos-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
	display: block;
}

.videos-content a:hover {    
    background-color: red;
    color: white;
	
}

.videos:hover .videos-content {
    display: block;
	width: 20%;
}

li.videos {
    display: inherit;
}

.accountbox{
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
}

.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.accountbtn1{
  display: flex;
  background:black;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: black 2px solid;
  margin-top:20px;
  margin-bottom:20px;
  margin-right: 10px;
  float:left;
  font-weight:800;
  font-size:0.8em;
}

.accountbtn1:hover{
  background: red; 
        border: red 2px solid;
}

#accountbtn2{
  display: flex;
  background:black;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: black 2px solid;
  margin-top:20px;
  margin-bottom:20px;
  float: left;
  font-weight:800;
  font-size:0.8em;
}

#accountbtn2:hover{ 
background:red; 
    border: red 2px solid;
}

#sedbtn1{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background:red;
  width:23%;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #888888 1px solid;
  margin-top:20px;
  margin-bottom:20px;
  margin-right: 75px;
  margin-left: 75px;
  float: left;
  font-weight:800;
  font-size:0.8em;
  box-shadow: 3px 3px 15px #888888;
  justify-content: center;
}

#sedbtn1:hover{ 
background:#333; 
    border: #333 2px solid;
}

#sedbtn2{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background:red;
  width: 23%;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #888888 1px solid;
  margin-top:20px;
  margin-bottom:20px;
  margin-right: 75px;
  margin-left: 75px;
  float: left;
  font-weight:800;
  font-size:0.8em;
  box-shadow: 3px 3px 15px #888888;
  justify-content: center;
}

#sedbtn2:hover{ 
background:#333; 
    border: #333 2px solid;
}

#sedbtn3{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background:red;
  width:23%;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #888888 1px solid;
  margin-top:20px;
  margin-bottom:20px;
  margin-right: 75px;
  margin-left: 75px;
  float: left;
  font-weight:800;
  font-size:0.8em;
  box-shadow: 3px 3px 15px #888888;
  justify-content: center;
}

#sedbtn3:hover{ 
background:#333; 
    border: #333 2px solid;
}

.subeddel{
    margin-top: 25px;
    margin-bottom: 25px;
}